@{
    ViewBag.Title = "[People]";
}
<p/>
<style>
    input.ng-invalid {
        background-color: lightsteelblue;
    }
    input.ng-valid {
        background-color: ghostwhite;
    }
</style>

<div ng-controller="personCtrl">
    <div>
        <p>
            <b><i>People</i></b>
        </p>
        <table class="table table-hover">
            <tr>
                <td><b>ID</b></td>
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
                <td><b>Age</b></td>
                <td><b>Age Group</b></td>
            </tr>
            <tr ng-repeat="person in persons">
                <td>
                    {{person.Id}}
                </td>
                <td>
                    {{person.FirstName}}
                </td>
                <td>
                    {{person.LastName}}
                </td>
                <td>
                    {{person.Age}}
                </td>
                <td>
                    {{person.AgeRangeDescription}}
                </td>
                <td>
                    <span ng-click="editPerson(person)" class="btn btn-primary">Edit</span>
                    <span ng-click="deletePerson(person)" class="btn btn-danger">Delete</span>
                </td>
            </tr>
        </table>
    </div>
    <span ng-click="addPersonDiv()" class="btn btn-default">
        Add Person
    </span>
    <div ng-show="divChange">
        <table class="table">
            <tr>
                <td><b><i>{{Action}} Person</i></b></td>
                <td />
                <td />
                <td />
            </tr>
            <tr>
                <td>First Name</td>
                <td><input type="text" ng-model="personFirstName" required /></td>
                <td>Last Name</td>
                <td><input type="text" ng-model="personLastName" required /></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="text" ng-model="personAge" required /></td>
                <td />
                <td />
            </tr>
        </table>
        <input type="button" class="btn btn-default" value="Save" ng-click="addupdatePerson()"/>
        <input type="button" class="btn btn-danger" value="Cancel" ng-click="cancel()"/>
    </div>
</div>