<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="RequiresApiKey" value="true" />
    <add key="ApiKey" value="A61D4BE4-F84C-4A24-9676-26B35DC479F7" />
    <add key="BasicAuth" value="Basic dXNlcm5hbWU6cGFzc3dvcmQ =" />
  </appSettings>
</configuration>