<div class="jumbotron">
    <h1>Age Ranger Web API</h1>
    <p class="lead">Click on the API link in the navigation area to learn more about features suppoted by the AgeRanger API</p>
</div>
<div>
    <p>You can custimise the API to require either an API Key or to use Basic Authentication. See the web.config for more details</p>
</div>